body{
    background-image: url(images/Grey\ Sunset.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'poppins';
}
.head{
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    background-color: rgb(63, 62, 62);
    
}


.links li{
    padding: 20px;
    display: block;
}
.links a{
    text-decoration: none;
    color: black;
    border-right: 2px solid black;
    padding-right: 40px;
    font-size: 25px;
    
}
.links a:hover{
    color: white;
    padding: 5px ;
}
.main{
    width: 35%;
    text-align: center;
    margin: 0 35%;
    background-color: white;
    color: rgb(63, 62, 62);
    opacity: .8;
    padding: 10px;
}
.in-content{
    color: black;
}
h3{
    color: black;
}

.last{
    display: flex;
    justify-content: space-between;
}
.last-1{
    width: 400px;
}
.last-2 a{
    text-decoration: none;
}
.last-2 li{
    color: blueviolet;
}
.last-3 li{
    color: blueviolet;
}
.last-4{
    text-align: center;
}
.socials{
    display: flex;
    flex-direction: column;
    float: right;
    padding: 15px;
    padding-top: 50px;
    
}
.socials a{
    padding: 10px;
}



@media screen and (max-width: 700px) {
    body{
        background-image: url(images/Grey\ Sunset.png);
        background-size: cover;
        width: 100%;
        font-family: 'poppins';
        
    }
    .links{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background-color: unset;
    }
    .links li{
        padding: 0;
    }
    .links a{
        border: none;
        padding: 10px;
        font-size: 20px;
    }
    .links a:hover{
        color: white;
    }
    .main{
        width: 300px;
        margin:0px 70px;
    }
    .last{
        display: inline;
    }
    .last-4{
        position: absolute;
        margin: 30%;
    }
  }