*{
    padding: 0;
    font-family: 'poppins';

    
}
body{
    background-image: url(images/Grey\ Sunset.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.head{
    

    display: flex;
    justify-content: space-between;
}
.links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    background-color: rgb(63, 62, 62);
}


.links li{
    padding: 20px;
    display: block;
}
.links a{
    text-decoration: none;
    color: black;
    border-right: 2px solid black;
    padding-right: 40px;
    font-size: 25px;
    
}
.links a:hover{
    color: white;
    padding: 5px ;
}

.content{
    width: 300px;
    height: 200px;
    background-color: rgb(155, 152, 152);
    border-radius: 10px;
    margin-left: 40%;
    opacity: .8;
}
.content p{
    padding: 5px;
}


.socials{
    display: flex;
    flex-direction: column;
    float: right;
    padding: 15px;
    padding-top: 90px;
    
}
.socials a{
    padding: 10px;
}
button a{
    text-decoration: none;
    color: black;
}

button:hover{
    
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 5px;
}
.last-4{
    
    position: absolute;
    bottom: 0;
    
}

@media screen and (max-width: 700px) {
    body{
        background-image: none;
        background-color: rgb(63, 62, 62);
        width: 100%;
        
        
    }
    .links{
        padding: 20px;
        display: block;
    }
    .links li{
        background-color: rgb(155, 152, 152);
        padding: 0;
    }
    .links a{
        border: none;
        padding: 10px;
        margin: 1px 0;
        display: block;
        font-size: 20px;
    }
    .links a:hover{
        color: white;
        background-color: rgb(63, 62, 62);
        cursor: pointer;
    }
    .content{
        margin-left: 10px;
    }
  }