body{
    background-image: url(/upgrade/images/Grey\ Sunset.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins';
}
.card{
    width: 430px;
    height: 400px;
    background-color: white;
    padding: 30px;
    text-align: center;
    opacity: .8;
    padding-top: 5px;
}
.card-input{
    width: 95%;
    height: 30px;
    margin-top: 20px;
}
.card h2{
    font-style: italic;
}
.card-button{
    margin-top: 30px;
    width: 95%;
    height: 30px;
    border: 0px;
    background-color: rgb(63, 62, 62);
    color: white;
    font-size: 20px;
}

.last-4{
    position: absolute;
    bottom: 110px;
    margin-left: 150px;
    font-size: 10px;
}

#show{
    margin-left: -250px;
    margin-top: 20px;
}
.linko{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.linko a{
    color: rgb(63, 62, 62);
    padding: 5px;
}
.linko a:hover{
    color: blueviolet;
}
#warn{
    color: red;
}
